# Raiz
.DS_Store
*.log
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.env.local
.pytest_cache/

# Frontend
metas-frontand/node_modules/
metas-frontand/dist/
metas-frontand/dist-ssr/
metas-frontand/*.local
